@import 'src/styles/media';

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  max-width: 480px;
  margin: auto;

  padding-bottom: 1em;

  @include media-md {
    padding-top: 2em;
    gap: 3em;
  }
}
