@import 'src/styles/animations';
@import 'src/styles/colors';

.group {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.input {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;

  font-weight: 550;
  color: $light_gray;

  background-color: $charcoal;

  border-radius: 1em;
  border: none;
  outline: none;

  @include animatedBoxOutline(true, $davy_gray, $charcoal);

  &.withError {
    box-shadow: $magic_potion 0px 0px 0px 2px;
  }
}

.label {
  font-size: 1em;
  font-weight: 600;
  color: $nickel;
  opacity: 1;
}

.error {
  color: $magic_potion;
  opacity: 0.7;
  font-size: 0.8em;
  padding: 0.2em;
}