@import 'src/styles/media';

.card {
  .form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .button {
    margin-top: 0.5em;
    @include media-md {
      margin-top: 2em;
    }
  }
}
