$white: #ffffff;
$light_gray: #D4D4D4;
$royal_orange: #fb923c;
$magic_potion: #F43F5E;
$green: #16A34A;
$nickel: #737373;
$slate_gray: #748498;
$davy_gray: #525252;
$dark_lava: #3C4044;
$charcoal: #374150;
$yankees_blue: #372D1F;
$charleston_green: rgba(31,41,55,1);
$raisin_black: #262626;
$raisin_black_darker: #292524;
$eerie_black: #171A1C;
$dark_navy: #171f46;
$black: #000000;
