@import 'src/styles/media';

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  max-width: 480px;
  margin: auto;

  padding-bottom: 1em;

  @include media-md {
    padding-top: 2em;
    gap: 3em;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .button {
    margin-top: 0.5em;
    @include media-md {
      margin-top: 2em;
    }
  }
}
